<%= form_for @research, :html => { :multipart => true } do |f| %>

	<% if @research.errors.any? %>
		<div id="errorExplanation">
			<h2><%= pluralize(@research.errors.count, "error") %> prohibited this post from being saved: </h2>
			<ul>
			<% @research.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</ div>
	<% end %>
	
	<p>
		<!--<= f.label :rAttachment %>
		<= f.file_field :rAttachment %> used to attach image to the post, add % for it to work-->
		
		<%= f.label :title %> <br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%=f.label :text %> <br>
		<%=f.text_area :text, size:"60x12" %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>