<% provide(:title, "Sign up") %>
<div class="header"> 
	<h2>Sign Up</h2>
</div>

<div class="mainContent">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<div class= "subContLabel">
			<%= f.label :username %>
		</div>
		<div class= "subContText">
			<%= f.text_field :email %><br><br>
		</div>
		
		<div class= "subContLabel1">
			<%= f.label :password %>
		</div>
		<div class= "subContText1">
			<%= f.password_field :password %><br><br>
		</div>
		
		<div class= "subContLabel2">
			<%= f.label :password_confirmation, "Confirmation" %>
		</div>
		<div class= "subContText2">
			<%= f.password_field :password_confirmation %><br>
		</div>
		
		<div class= "subContButton">		
			<%= f.submit "Submit" %>
		</div>
	<% end %>
</div>