<% provide(:title, "Home") %>

<div class="mainContent">
	<h3>The BMI-Exo Project</h3>
	<p>
		The BMI-Exo Project is a research collaboration between Rice University, the University of Houston, the University of Texas Health Science Center, and the Methodist Hospital  that aims to accelerate the development, efficacy and use of robotic rehabilitation after stroke. By combining a noninvasive brain-machine interface (BMI) with a robotic rehabilitation exoskeleton, the therapy is now ‘active’ and the patients  across a broad spectrum of impairment are engaged in the rehabilitation tasks. When complete, the combined device will be validated by UTHealth physicians at TIRR Memorial Hermann with as many as 40 volunteer patients. Together, the team hopes to increase the upper limb function for stroke patients, advance the understanding of brain plasticity, and help innovate rehabilitation. For more information about this project please visit our project’s NIH Report page by clicking <a href="//projectreporter.nih.gov/project_info_description.cfm?aid=8459096&amp;icde=16706923&amp;ddparam=&amp;ddvalue=&amp;ddsub=&amp;cr=1&amp;csb=default&amp;cs=ASC" target="blank">here</a>
	</p>
</div>

<div class="mainImage">
	<%= image_tag("bmi-exo_main.jpg") %>
</div>

<div class="bottomImages">
	<div class="image">
		<%= image_tag("rice_logo.jpg") %>
	</div>
	<div class="image">
		<%= image_tag("UH_logo.jpg") %>
	</div>
	<div class="image">
		<%= image_tag("UT_logo.jpg") %>
	</div>
	<div class="image">
	<%= image_tag("Methodist_logo.jpg") %>
	</div>
</div>