<% provide(:title, "People") %>

<div class="header">
	<h2>People</h2>
</div>

<div class="mainContent">
	<table>
		<tbody>
			<tr>
				<td>
					<div class ="portrait">
						<%= image_tag("omalley_image.jpg") %>
					</div>
				</td>
				<td>
					<p class="textCol">
						Marcia O'Malley<br>
						Principal Investigator<br>
						Rice University<br>
						omalleym@rice.edu<br>
						<a href="https://memsweb.rice.edu/omalley/" target="blank">Personal Webpage</a>
					</p>
				</td>
				<td class="filler">
				</td>
				<td>
					<div class ="portrait">
						<%= image_tag("vidal_image.jpg") %>
					</div>
				</td>
				<td> 
					<p class="textCol">
						Jose Contreras-Vidal<br>
						Principal Investigator<br>
						University of Houston<br>
						jlcontreras-vidal@uh.edu<br>
						<a href="http://www.ee.uh.edu/faculty/contreras-vidal" target="blank">Personal Webpage</a>
					</p>
				</td>
			</tr>
			
		<!--Second row-->
			<tr>
				<td>
					<div class ="portrait">
						<%= image_tag("francisco_image.jpg") %>
					</div>
				</td>
				<td>
					<p class="textCol">
						Gerard Francisco<br>
						Principal Investigator<br>
						UTHSC<br>
						Gerard.E.Francisco@uth.tmc.edu<br>
						<a href="http://www.uth.tmc.edu/schools/med/phymed/faculty/bio-Francisco-Gerard.html" target="blank">Personal Webpage</a>
					</p>
				</td>
				<td class="filler">
				</td>
				<td>
					<div class ="portrait">
						<%= image_tag("grossman_image.jpg") %>
					</div>
				</td>
				<td> 
					<p class="textCol">
						Robert Grossman<br>
						Co-Investigator<br>
						Methodist Hospital<br>
						rgrossman@tmhs.org<br>
						<a href="http://www.methodisthealth.com/tmhri.cfm?id=36309" target="blank">Personal Webpage</a>
					</p>
				</td>
			</tr>
			
		<!--Third row -->
			<tr>
				<td>
					<div class ="portrait">
						<%= image_tag("yozbatiran_image.jpg") %>
					</div>
				</td>
				<td>
					<p class="textCol">
						Nuray Yozbatiran<br>
						Co-Investigator<br>
						UTHSC<br>
						Nuray.Yozbatiran@uth.tmc.edu
					</p>
				</td>
				<td class="filler">
				</td>
				<td>
					<div class ="portrait">
						<%= image_tag("joseph_image.jpg") %>
					</div>
				</td>
				<td> 
					<p class="textCol">
						Prathap Joseph<br>
						Co-Investigator<br>
						UTHSC<br>
						Prathap.J.Joseph@uth.tmc.edu
					</p>
				</td>
			</tr>
			
		<!-- Fourth row -->
			<tr>
				<td>
					<div class ="portrait">
						<%= image_tag("anusha_image.jpg") %>
					</div>
				</td>
				<td>
					<p class="textCol">
						Dr. Anusha Venkatakrishnan<br>
						Co-Investigator<br>
						University of Houston<br>
						avenkatakrishnan@uh.edu
					</p>
				</td>
				<td class="filler">
				</td>
				<td>
					<div class ="portrait">
						<%= image_tag("amy_image.jpg") %>
					</div>
				</td>
				<td> 
					<p class="textCol">
						Amy Blank<br>
						Postdoctoral Fellow<br>
						Rice University<br>
						aab14@rice.edu
					</p>
				</td>
			</tr>
			
		<!-- Fifth row -->
			<tr>
				<td>
					<div class ="portrait">
						<%= image_tag("french_image.png") %>
					</div>
				</td>
				<td>
					<p class="textCol">
						James French<br>
						Graduate Student<br>
						Rice University<br>
						jfrench0812@gmail.com
					</p>
				</td>
				<td class="filler">
				</td>
				<td>
					<div class ="portrait">
						<%= image_tag("bhagat_image.jpg") %>
					</div>
				</td>
				<td> 
					<p class="textCol">
						Nikunj Bhagat<br>
						Graduate Student<br>
						University of Houston<br>
						nabhagat@uh.edu
					</p>
				</td>
			</tr>
			
		<!-- Sixth row -->
			<tr>
				<td>
					<div class ="portrait">
						<%= image_tag("li_image.jpg") %>
					</div>
				</td>
				<td>
					<p class="textCol">
						Liyang Li<br>
						Research Assistant<br>
						University of Houston<br>
			<!-- no email-->
					</p>
				</td>
				<td class="filler">
				</td>
				<td>
					<div class ="portrait">
					</div>
				</td>
				<td> 
					<p class="textCol">
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>