<div class="title">
	<div class="mainTitle">
		<h1>BMI Control of a Therapeutic Exoskeleton</h1>
	</div>

	<div class="secondTitle">
			<h2>The BMI-Exo Project: Facilitating Personalized Robotic Rehabilitation of the Upper Limb</h>
	</div>
</div>
	
<header class="mainHeader">
	<nav>
		<ul>
			<li class="home"><%= link_to "Home", root_path, class:"linkText"  %></li>
			<li class="people"><%= link_to "People", people_path, class:"linkText" %></li>
			<li class="news"> <%= link_to "News", posts_path, class:"linkText"  %></li>
			<li class="research"><%= link_to "Research", '#', class:"linkText"  %></li>
			<li class="publications"><%= link_to "Publications", '#', class:"linkText"  %></li>
			<li class="contact"><%= link_to "Contact", contact_path, class:"linkText"  %></li>
			<% if signed_in? %>
				<li><%= link_to "Sign Out", signout_path, method:"delete", class:"linkText"  %></li>
			<% else %>
				<li class="signIn"><%= link_to "Sign In", signin_path, class:"linkText"  %></li>
			<% end %>
		</ul>
	</nav>
</header>