<div class="title">
	<div class="mainTitle">
		<h1>BMI Control of a Therapeutic Exoskeleton</h1>
	</div>

	<div class="secondTitle">
		<h2>The BMI-Exo Project: Facilitating Personalized Robotic Rehabilitation of the Upper Limb</h>
	</div>
</div>
	
<header class="mainHeader">
	<nav>
		<ul>
			<li class="active"><%= link_to "Home", root_path, class:"linkText"  %></li>
			<li><%= link_to "People", '#', class:"linkText" %></li>
			<li><%= link_to "News", '#', class:"linkText"  %></li>
			<li><%= link_to "Research", '#', class:"linkText"  %></li>
			<li><%= link_to "Publications", '#', class:"linkText"  %></li>
			<li><%= link_to "Contact", '#', class:"linkText"  %></li>
			<li><%= link_to "Sign-in", '#', class:"linkText"  %></li>
		</ul>
	</nav>
</header>