<!DOCTYPE html>
<html>
<head>
  <title>BMI-Exo Projects | < %=yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<div class="footer">
		<%= image_tag("nih_logo.png") %>
		<p>
			    Grant Number: 5R01NS081854-02 
		</p>
	</div>
</body>
</html>
